microservices-exercises/target/
microservices-exercises/.settings/
microservices-exercises/.vertx/
microservices-exercises/.vscode/

microservices-exercises/.classpath
microservices-exercises/.project

vertx-exercises/target/
vertx-exercises/.settings/
vertx-exercises/.vertx/
vertx-exercises/.vscode/

vertx-exercises/.classpath
vertx-exercises/.project

.git/
.settings/
.vscode/

.classpath
.project

